@font-face{
    font-family: "Start";
    src: url(../fonts/PressStart2P-Regular.ttf) format("woff");
    font-weight: normal;
    font-style: cursive;    
}
@font-face{
    font-family: "Right";
    src: url(../fonts/Righteous-Regular.ttf) format("woff");
    font-weight: normal;
    font-style: cursive;    
}
@font-face{
    font-family: "Sniglet";
    src: url(../fonts/Sniglet-Regular.ttf) format("woff");
    font-weight: normal;
    font-style: cursive;    
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
li{
    padding: 5px;
    border-bottom: 1px solid white;
}
li a{
    text-decoration: none;
    color: white;    
}
body{
    background: linear-gradient(bottom, #00467B,#00467b93, #00467b38);
    background:-webkit-linear-gradient(top, #00467B,#00467b93, #00467b38);
    background:-moz-linear-gradient(bottom, #00467B,#00467b93, #00467b38);
    background:-o-linear-gradient(bottom, #00467B,#00467b93, #00467b38);
    background:-ms-linear-gradient(bottom, #00467B,#00467b93, #00467b38);
}
/* Encabezado */
.nav-img{
    position: relative;
    height: 0;
    text-align: center;
    z-index: 10;
}
.icon-menu{
    position: absolute;
    display: inline-block;
    color: #fff;
    background-color: black;
    padding: 12px 10px 5px 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.4em;
    left: 15px;
    top: 10px;
}
.logo{ 
    width: 80px;
    margin-top: 5px;
}
.social-icon-link{
    text-decoration: none;
    color:black;
    background-color: #fff;
    border-radius: 50%;
    padding: 9px 7px 4px 7px;
    cursor: pointer;
}
.social-icon{
    position: absolute;
    display: inline;
	font-size: 1.4em;
	right: 15px;
	width: 85px;
	height: 25px;
	top: 20px;
}
.menu{
    list-style-type: none;
    font-family: 'Right', cursive;
    position: absolute;
    background-color: rgba(0, 0, 0, .9);
    width: 100%;
    text-align: center;
    height: 0;
	overflow: hidden;
    transition: height .4s linear;
    top: 60px;
    z-index: 10;
}
.mostrar{
    height: 125px;
}
.activo{
    background-color: #00467B;
}
.link{
    transition: .5s linear;
}
.link:hover{
    background-color: #00467B;
}
.modal{
    position:absolute;
    width: 50%;
    top: 50px;
    right: 15px; 
    z-index: 100;
    display: none;
}
.contenido-modal{
    background-color:rgba(255,255,255,0.8);  
    padding: 10px 20px;
    position: absolute;
    font-size: 15px;
    border-radius: 10px;
    font-family: 'Sniglet';
    text-align: center;
}
.contenido-modal p{
    padding: 0 10px 10px 10px;
}
.img-modal{
    width: 20%;
}
.modal-btn{
    background-color: #00467B;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 25px;
    font-size: 11px;
    position: absolute;
    z-index: 100;
    right: 5px;
    top: 5px;
    padding: 4px;
    color: #fff;
    cursor: pointer;
    font-family: 'Right';
}
.abrir-modal {
    display: block;
}
/* SECCION DEL BANNER*/
.banner{
    background-image: url(../img/banner1.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;    
    z-index: -10;
}
.banner p{
    font-size: 15px;
    font-family: 'Start';
}
/* GALERIA */
.contenedor-img{
   margin: 10px;
   text-align: center;
   font-family: 'Start';
   font-size: 15px;
}
.columna-img{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    padding: 10px;
    justify-content: center;
}
.columna-captura{
    display: flex;
    justify-content: center;
    width: 100%;
}
.capturas-img{
    min-width: 150px;
    max-width: 350px;
    max-height: 270px;
    border: 5px solid black;
    cursor: pointer; 
    margin: 5px;
    background-color: rgb(165,160,160);
}
.capturas-img:hover{
    transform: scale(1.02);
}
.modal-img{
	width: 100%;
	min-height: 100vh;
	background: rgba(0,0,0,0.9);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	display: none;
}
.contenido-modal1{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.modal__img{
	width: 90%;
}
.modal-btn1{
	position: absolute;
	top: 10px;
	right: 10px;
	color: white;
	cursor: pointer;
	font-weight: bold;
	width: 50px;
	height: 50px;
	line-height: 50px;
	background: #002858;
	font-size: 2em;
	text-align: center;
	border-radius: 50%;
	font-family: 'Right';
}
.modal--open{
	display: block;
}
/* PIE DE PAGINA */
.pie-pagina{
    background-color: #222;
    width: 100%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    text-align: center;
    color: #fff;
}
.columna{
    width: 100%;
    border-bottom: 1px solid #fff;
}
.columna a{
    text-decoration:none;
    padding: 5px;
    color: #fff;
    font-family: 'Sniglet';
    transition: .5s linear;
}
.columna a:hover{
    color: #00467B;
}
.columna p{
    padding: 10px;
    font-family: 'Start';
}
.desarrollo{
    color: #fff;
    padding: 10px 5px 0px 5px;
    font-family: 'Sniglet';
}
/* RESPONSIVO */
@media screen and (min-width:480px){
    .modal__img{
        width: 80%;
    }
    .columna-captura{
        width: 50%;
    }
    .pie-pagina{
        flex-direction: row;        
    }
    .columna{
        width: 33%;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 105px;
    }
    .columna p{
        font-size: 14px;
    }
    .columna a{
        font-size: 14px;
        padding: 0;
    }
}
@media screen and (min-width:768px){
    .modal__img{
        width: 70%;
    }
    .columna-captura{
        width: 25%;
    }
    .banner p{
        font-size: 20px;
    }
    .contenedor-img p{
        font-size: 20px;
    }
}
@media screen and (min-width:1024px){
    .modal__img{
        width: 50%;
    }
    li{
        border-bottom: none;
        padding: 15px 10px 15px 10px;
    }
    li a{
        font-size: 20px;
    }
    .icon-menu{
        display: none;
    }
    .logo{
        position: absolute;
        left: 15px;
        top: -5px;
    }
    .social-icon{
        top: 80px;
    }
    .menu{
        overflow:visible;
        position: absolute;
		display: flex;
		height: auto;
        width: auto;
        right: 15px;
        top: 0;
        background-color: rgba(0, 0, 0, 0);
    }
    .modal{
        top: 110px;
    }
    .modal-btn{
        font-size: 20px;
        width: 30px;
    }
    .banner p{
        font-size: 30px;
    }
}